img {
    width: 40px;
}
li {
    background-color: brown;
}
.outer-box {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
}
.caption {
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 3;
}